<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="public/head :: head" th:with="title = '预警数据展示'"></head>
<body>
<div class="layui-layout layui-layout-admin">

    <!--导航栏-->
    <div th:replace="public/navbar :: header"></div>

    <!-- 内容主体区域 -->
    <div class="layui-body">

        <div style="padding: 15px;">
            <span class="layui-breadcrumb">
              <a href="/">首页</a>
              <a href="/demo/">演示</a>
              <a><cite>导航元素</cite></a>
            </span>
        </div>
        <div style="margin: 0 0 0 3%">
            <div class="layui-btn-container">
                <button type="button" class="layui-btn  layui-btn-normal" id="test8">选择Excel文件</button>
                <button type="button" class="layui-btn " id="test9">开始导入</button>
<!--                <button type="button" class="layui-btn " id="export">导出文件</button>-->
            </div>
        </div>
        <div style="margin: 0 3%;">
            <table id="table_data" lay-filter="test"></table>

        </div>

    </div>

    <!--底部-->
    <div th:replace="public/footer :: footer"></div>

</div>
<script type="text/html" id="toolbarDemo">
    <!--<div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
    </div>-->
</script>
<script src="../static/layui/layui.js"></script>
<script src="../static/js/jquery-3.3.1.min.js"></script>
<script src="../static/js/public.js"></script>

<script type="text/javascript" th:inline="none">

    $("#export").click(function () {
        location.href = "/tbUser/downloadFailedUsingJson";
    });

    //JS
    layui.use(['element', 'layer', 'util', 'table', 'upload'], function () {
        var element = layui.element
            , layer = layui.layer
            , util = layui.util
            , table = layui.table
            , upload = layui.upload
            , $ = layui.$;

        //头部事件
        util.event('lay-header-event', {
            //左侧菜单事件
            menuLeft: function (othis) {
                layer.msg('展开左侧菜单的操作', {icon: 0});
            }
            , menuRight: function () {
                layer.open({
                    type: 1
                    , content: '<div style="padding: 15px;">处理右侧面板的操作</div>'
                    , area: ['260px', '100%']
                    , offset: 'rt' //右上角
                    , anim: 5
                    , shadeClose: true
                });
            }
        });

        //选完文件后不自动上传
        upload.render({
            elem: '#test8'
            , url: '/tbUser/fileUpload' //此处配置你自己的上传接口即可
            , auto: false
            , accept: "file"
            //,multiple: true
            , bindAction: '#test9'
            , done: function (res) {
                if (res.status == 200) {
                    layer.msg('上传成功');
                    console.log(res)
                }

            }
        });

        var ins1 = table.render({
            elem: '#table_data'
            , url: '/tbUser/list'
            , toolbar: '#toolbarDemo'
            , height: 600
            , even: true
            , parseData: function (res) { //res 即为原始返回的数据
                return {
                    "code": res.status, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.data.total, //解析数据长度
                    "data": res.data.records //解析数据列表
                };
            }
            , limits: [10, 20, 50, 100, 300]
            , request: {
                pageName: 'current' //页码的参数名称，默认：page
                , limitName: 'size' //每页数据量的参数名，默认：limit
            }
            , page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'] //自定义分页布局
                , curr: 1 //设定初始在第 5 页
                , groups: 5 //只显示 1 个连续页码
                , first: false //不显示首页
                , last: false //不显示尾页

            }
            , cols: [[
                {field: 'uid', width: 80, title: 'ID', sort: true}
                , {field: 'orderNum', width: 150, title: '保单号'}
                , {field: 'email', width: 150, title: '邮箱', sort: true}
                , {field: 'phone', width: 150, title: '手机号'}
                , {field: 'sex', title: '性别', width: 80}
                , {field: 'age', width: 80, title: '年龄'}
                , {field: 'jobTitle', width: 80, title: '职业名称', sort: true}
                , {field: 'nationality', width: 80, title: '国籍'}
                , {field: 'idtype', width: 135, title: '证件类型', sort: true}
                , {field: 'idcard', minWidth: 180, title: '证件号码'}
                , {field: 'address', width: 135, title: '地址'}
                , {field: 'deptName', width: 135, title: '所属机构'}
                , {field: 'branchName', width: 135, title: '网点'}
                , {field: 'startDate', width: 135, title: '承保时间', sort: true}
                , {field: 'updateTime', width: 180, title: '最后执行时间', sort: true}
            ]]
        });

        //将上述表格示例导出为 csv 文件
        table.exportFile(ins1.config.id, data);

        //头工具栏事件
        table.on('toolbar(table_alert)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id); //获取选中行状态
            switch (obj.event) {
                case 'getCheckData':
                    var data = checkStatus.data;  //获取选中行数据
                    layer.alert(JSON.stringify(data));
                    break;
            }
            ;
        });
    });


</script>
</body>
</html>