<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <title>登录</title>
    <meta name="description" content="particles.js is a lightweight JavaScript library for creating particles.">
    <meta name="author" content="Vincent Garreau"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="../static/layui/css/layui.css">
</head>
<body>

<div id="particles-js">
    <div class="login-title">
        中邮保险数据模型分析工具
    </div>
    <div class="login" id="login">
        <div class="login-top">
            用户登录
        </div>
        <div class="login-center clearfix">
            <div class="login-center-img"><img src="../static/img/name.png"/></div>
            <div class="login-center-input">
                <input type="text" name="username" value="" placeholder="请输入您的用户名" onfocus="this.placeholder=''"
                       onblur="this.placeholder='请输入您的用户名'"/>
                <div class="login-center-input-text">用户名</div>
            </div>
        </div>
        <div class="login-center clearfix">
            <div class="login-center-img"><img src="../static/img/password.png"/></div>
            <div class="login-center-input">
                <input type="password" name="pwd" value="" placeholder="请输入您的密码" onfocus="this.placeholder=''"
                       onblur="this.placeholder='请输入您的密码'"/>
                <div class="login-center-input-text">密码</div>
            </div>
        </div>
        <div class="login-button">
            登录
        </div>
        <div class="login-button2 to-reg">
            没有账号？去注册
        </div>
    </div>
    <div class="register login" id="register" hidden>
        <div class="login-top">
            用户注册
        </div>
        <div class="login-center clearfix">
            <div class="login-center-img"><img src="../static/img/name.png"/></div>
            <div class="login-center-input">
                <input type="text" name="username" value="" placeholder="请输入您的用户名" onfocus="this.placeholder=''"
                       onblur="this.placeholder='请输入您的用户名'"/>
                <div class="login-center-input-text">用户名</div>
            </div>
        </div>
        <div class="login-center clearfix">
            <div class="login-center-img"><img src="../static/img/password.png"/></div>
            <div class="login-center-input">
                <input type="password" name="pwd" value="" placeholder="请输入您的密码" onfocus="this.placeholder=''"
                       onblur="this.placeholder='请输入您的密码'"/>
                <div class="login-center-input-text">密码</div>
            </div>
        </div>
        <div class="login-center clearfix">
            <div class="login-center-img"><img src="../static/img/nick.png"/></div>
            <div class="login-center-input">
                <input type="text" name="nickname" value="" placeholder="请输入您的昵称" onfocus="this.placeholder=''"
                       onblur="this.placeholder='请输入您的用户名'"/>
                <div class="login-center-input-text">昵称</div>
            </div>
        </div>
        <div class="login-button">
            注册
        </div>
        <div class="login-button2 to-login">
            已有账号？去登录
        </div>
    </div>
    <div class="sk-rotating-plane"></div>
</div>

<!-- scripts -->
<script src="../static/js/particles.min.js"></script>
<script src="../static/js/app.js"></script>
<script src="../static/js/jquery-3.3.1.min.js"></script>
<script src="../static/layui/layui.js"></script>
<script type="text/javascript" th:inline="none">

    $(".to-login").click(function () {
        $("#login").show();
        $(".register").hide();
    });

    $(".to-reg").click(function () {
        $(".register").show();
        $("#login").hide();
    });

    //登录
    $("#login .login-button").click(function () {
		layer.load(0, {shade: false}); //上传loading

        var username = $("#login input[name='username']").val();
        var pwd = $("#login input[name='pwd']").val();

        $.ajax({
            url: "/userLogin/login",
            type: "POST",
            data: JSON.stringify({
                "username": username,
                "pwd": pwd
            }),
            contentType: 'application/json; charset=UTF-8',
            dataType: "json",
            success: function (res) {
				layer.closeAll('loading'); //关闭loading
				if (res.status == 200){
					layer.msg(res.msg,{time:1500,shade:0.4},function () {
						location.href = "/indexShow/getPage";
					});
				}else {
					layer.msg(res.msg, {icon: 2});
				}


            },error: function(index, upload){
				layer.closeAll('loading'); //关闭loading
				layer.msg("系统异常", {icon: 2});
			}
        });

    });

    //注册
    $("#register .login-button").click(function () {
		layer.load(0, {shade: false}); //上传loading

        var username = $("#register input[name='username']").val();
        var pwd = $("#register input[name='pwd']").val();
        var nickname = $("#register input[name='nickname']").val();

        $.ajax({
            url: "/userLogin/reg",
            type: "POST",
            data: JSON.stringify({
                "username": username,
                "pwd": pwd,
                "nickname": nickname
            }),
            contentType: 'application/json; charset=UTF-8',
            dataType: "json",
            success: function (res) {
				layer.closeAll('loading'); //关闭loading
				if (res.status == 200){
					layer.msg(res.msg,{time:1500,shade:0.4},function () {
						location.href = "/login/getPage";
					});
				}else {
					layer.msg(res.msg, {icon: 2});
				}

            },error: function(index, upload){
				layer.closeAll('loading'); //关闭loading
				layer.msg("系统异常", {icon: 2});
			}
        });

    });

    function hasClass(elem, cls) {
        cls = cls || '';
        if (cls.replace(/\s/g, '').length == 0) return false; //当cls没有参数时，返回false
        return new RegExp(' ' + cls + ' ').test(' ' + elem.className + ' ');
    }

    function addClass(ele, cls) {
        if (!hasClass(ele, cls)) {
            ele.className = ele.className == '' ? cls : ele.className + ' ' + cls;
        }
    }

    function removeClass(ele, cls) {
        if (hasClass(ele, cls)) {
            var newClass = ' ' + ele.className.replace(/[\t\r\n]/g, '') + ' ';
            while (newClass.indexOf(' ' + cls + ' ') >= 0) {
                newClass = newClass.replace(' ' + cls + ' ', ' ');
            }
            ele.className = newClass.replace(/^\s+|\s+$/g, '');
        }
    }

    /*document.querySelector(".login-button").onclick = function(){
            addClass(document.querySelector(".login"), "active")
            setTimeout(function(){
                addClass(document.querySelector(".sk-rotating-plane"), "active")
                document.querySelector(".login").style.display = "none"
            },800)
            setTimeout(function(){
                removeClass(document.querySelector(".login"), "active")
                removeClass(document.querySelector(".sk-rotating-plane"), "active")
                document.querySelector(".login").style.display = "block"
                alert("登录成功")

            },5000)
    }*/
</script>
</body>
</html>